<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <h1 class="mb-1 wow animated fadeIn" data-wow-delay=".15s">{{ site.author.name }}</h1>
    <p class="lead mb-1 wow animated fadeInUp" data-wow-delay=".2s">17 • First-year CS student, ADA University • Imishli, Azerbaijan</p>
    <p class="text-muted wow animated slideInUp" data-wow-delay=".25s">{{ site.description }}</p>

  </div>
</div>